.container {
  background: url(https://www.nodemy.vn/projects/html-css-js/weather-app/hot.png) no-repeat center/cover;
  padding: 30px 20px;
  color: white;
  border-radius: 10px;
  min-height: 500px;
  box-shadow: 0 0 10px black;
}

.display-weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city h1 {
  text-align: center;
  font-size: 36px;
  text-shadow: 2px 2px rgb(0 0 0 / 53%);
}

.time p {
  text-align: center;
  text-shadow: 2px 2px rgb(0 0 0 / 53%);
}

.temperature {
  font-size: 30px;
  text-shadow: 2px 2px rgb(0 0 0 / 53%);
  background-color: rgba(255, 255, 255, 0.393);
  color: white;
  width: 220px;
  height: 130px;
  margin: 20px 0;
  box-shadow: 3px 3px rgb(0 0 0 / 51%);
}

.short-desc {
  text-align: center;
  text-shadow: 2px 2px rgb(0 0 0 / 53%);
  font-size: 24px;
}

.information {
  margin-top: 20px;
  display: flex;
  text-shadow: 2px 2px rgb(0 0 0 / 53%);
}

.information-detail {
  text-align: center;
  margin:0 15px;
}

.information-detail i {
  margin-bottom: 12px;
}
